.flex-container {
  display: flex;
}

.flex-justify-content {
  display: flex;
  justify-content: center;
  background: red;
}
.flex-direction-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-justify-content-start {
  justify-content: flex-start;
}
