@import '../../styles/sass/colors';

.float-right {
  float: right;
}
.icon-to-right {
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.icon-to-right:hover {
  color: #d8d8d8;
}

.scrollable-container {
  height: 500px;
  overflow: scroll;
  background: #fff;
  padding: 5px;
}

.list-text {
  padding: 0 5px;
}

.cursor {
  cursor: pointer;
}

.cursor:hover, .cursor:visited {
  color: $text-blue;
}
