@import '../../styles/sass/colors';
@import '../../styles/sass/flex-box';

nav {
  background: $red;
  color: white;
  padding: 10px;
}
.top-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.menu-container {
  width: 20px;
  position: fixed;
  top: 169px;
  right: 25px;
}

h1 {
  font-size: 18px;
  text-align: center;
}
