/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~firebaseui/dist/firebaseui.css";
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.float-right {
  float: right;
}
.icon-to-right {
  right: 0px;
  position: absolute;
  cursor: pointer;
}

.icon-to-right:hover {
  color: #D8D8D8;
}
